.bio{
    height: 50vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:white;
    .bioTitle{
color:orange;
    }
}
.footer-vertical{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding: 2rem;
        .socialIcons {
        display: flex;
        flex-direction: column;
        position: fixed;
        gap: 1rem;
        bottom: 1rem;
        font-size: 3rem;
    .child{
        border:1px solid white;
        padding: 0.6rem;
        border-radius: 50%;
        background-color: white;
        color:black;
    }
      }
      .copyright{
        position: fixed;
        right: 1rem;
        bottom: 1rem;
        writing-mode: vertical-lr;
        color:white;
      }
    }
    .about {
        width: 70%;
        margin: 2rem auto;
      
        .about__job {
          // border: 2px solid red;
          margin: 1rem;
          background-color: lighten(#272727, 10%);
          padding: 1rem;
          border-bottom: 5px solid #ff652f;
          border-radius: 5px;
          h2,h3{
              margin: 0.5rem 0;
          }
      
          h6{
              margin: 0.3rem 0;
          }
        }
      }
      