.notFound{
    height:100vh;
    background-color: #272727;
    border:2px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}