#Navbar{
    display: flex;
    justify-content: end;
    gap: 1rem;
    color: white;
    
  
    display: flex;
  @media screen and (max-width:576px){
    flex-direction: column;
}
.nav-link{
  font-size: 1.3rem;
  font-weight: 500;
  padding: 1rem;
}
}
