.project-bgImg {
  height: 40vh;
}
.container {
  background-color: lighten(#272727, 10%);
}
.projects__item {
  cursor: pointer;
  border-bottom: 5px solid #ff652f;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #ff652f;
    position: absolute;
    left: 0;
    opacity: 0;
  }
  &:hover::after {
    opacity: 0.7;
  }
}
// .footer {
//   display: flex;
//   justify-content: space-between;
//   align-items: flex-end;
//   padding: 2rem;
//   .socialIcons {
//     display: flex;
//     flex-direction: column;
//     position: fixed;
//     gap: 1rem;
//     bottom: 1rem;
//     font-size: 3rem;
//     .child {
//       border: 1px solid white;
//       padding: 0.6rem;
//       border-radius: 50%;
//       background-color: white;
//       color: black;
//       cursor: pointer;
//       &:hover {
//         color: white;
//         background-color: orange;
//       }
//     }
//   }
// }
